//[FONTS]#########################################################################################################################

// font for (nav-menu__animated-text)
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&subset=latin-ext');

//[FONTS/]########################################################################################################################

//[MAIN-PAGE-SETTINGS]############################################################################################################

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16pt;
}

//[MAIN-PAGE-SETTINGS/]############################################################################################################

//[BEM-IMPORT]#####################################################################################################################

@import '../blocks.default/body/body.less';
@import '../blocks.default/wrapper/wrapper.less';
@import '../blocks.default/header/header.less';

// LOGO
@import '../blocks.default/logo/logo.less';
@import '../blocks.default/logo/__svg/logo__svg.less';

// NAV-MENU
@import '../blocks.default/nav-menu/nav-menu.less';
@import '../blocks.default/nav-menu/__item/nav-menu__item.less';
@import '../blocks.default/nav-menu/__link/nav-menu__link.less';
@import '../blocks.default/nav-menu/__animated-text/nav-menu__animated-text.less';

//[BEM-IMPORT/]####################################################################################################################
